@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Add a button to redirect to Swagger UI -->
    <a href="/swagger/index.html" style="background-color: #85ea2d" target="_blank" class="btn btn-primary mt-5">Go to Swagger</a>
</div>
